@import "tailwindcss";
/* @source "./index.html"; */
@import "tailwindcss/utilities";
@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent; /* or #f3f4f6 for light gray */
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #9ca3af; /* gray-400 */
    border-radius: 9999px;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* gray-500 */
  }
}